
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;

}




#expenseForm {
    float: left;
    background-color: #35ADCE;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:10px;
    padding: 0;
    text-align: center;
}

#expSubmit {
    margin-top: 30px;
}
form {
    margin-top: 20px;
    background-color: #35ADCE;
    text-align: center;
  
  }
  
html {
     
    background-color: white;
    width: 100%;
}

h1 {
    color: yellow;
    margin: 0;
  }
  

input {
    margin: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    margin: 10px;
  }

.instructions h1 {
  font-size: 24px;
  font-weight: 700;
}

.instructions {
  background-color: #222F3F;
  padding: 15px;
  color: #ece7e7;
  width: 100%;
}



li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    text-decoration: underline;
    color: #eee;
  }


.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

#mileageForm{
    float: left;
    background-color: #35ADCE;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:10px;
    padding: 0;
    text-align: center;
}
.navbar {
background-color: #5A5A5A;
width: 100%;
border-radius: 0px;
}

#navDelete {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: none;
  
  }

#navLogout {
    float: right;
}

RaisedButton {
    color: #00f19a;
}

.row:after {
        content: "";
        display: table;
        clear: both;
    }

table {
    border: 1px solid black;
    background-color: #f7f2e3;
    
  
  }
  
  tbody tr:nth-child(even) {
    background-color: lightgrey;
   

  }
  td {
    font-weight: bold;

  }
  th {
    border: 1px solid black;
  }
  .topnav {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #00FE9C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: lightgrey;
    color: white;
}
.a.active {
    background-color: lightgrey;
    color: white;
}
/* Add an active class to highlight the current page */
.active {
    background-color: #00FE9C;
    color: grey
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width:100%;
}






.flex-grid {
    display: flex;
    justify-content: space-between;
  }
  .col-l {
      width: 25%;
    
  }

  .col-m {
      margin-top: 20px;
      width: 50%;
  }

.col-r {
      width: 25%;
      margin: 10px;
  }


